<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome to {{ site.title }}!</h2>
                <hr class="light">
                <p class="text-faded">CodeLanka is a intiative by the Google Developer Group Sri Lanka to work on projects for a better Sri Lanka.</p>
                <p class="text-faded">If you would like to join the group or have some ideas that you would like work on, put them up here</p>
                <a href="https://github.com/CodeLanka/codeLanka-Proposals" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
